html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body,
img{
    font-family: 'arial', sans-serif;
    margin: 0;
    width: 100%;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.logo{
    width: 150px;
    padding: 3rem;
    margin-left: 4.5rem;
    margin-top: .5rem;
}

header{
    margin-bottom: -1rem;
    background-color: #ccc;
    text-align:center;
    z-index: 100;
}

/* NAVIGATION */
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
    display: block;
    height: 90px;
    width: 50px;
    margin-right: 1rem; 
    float: right;
    background: url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
    border-radius: 4.5px;
}

.nav ul {
    list-style-type:none;
}

.nav ul li a {
    text-decoration: none;  
}

.nav a,
.nav a:link,
.nav a:visited{
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    margin-left: -2rem;
    padding: 1rem;
}

/* Toggle Nav CSS */
.nav-top{
    display:none;
}

.nav-top[data-state="expanded"]{
    display:block;
}

/*SECTIONS SMALL*/

#intro{
    background-color: #ddd;
    width: 100%;
    padding: 15rem 0;
}

.welcome{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: -12rem;
    text-align: center;
}

.welcome-desc{
    font-weight: lighter;
    font-size: 1rem;
    margin-top: -1rem;
    text-align: center;
}

#about{
    background-color: #eee;
    width: 100%;
    padding: 15rem 0;
}

#work{
    background-color: #ddd;
    width: 100%;
    padding: 15rem 0;
}

#contact{
    background-color: #eee;
    width: 100%;
    padding: 10rem 0;  
}

.about-title{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -12rem;
}

.work-title{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -12rem;
}

.contact-title{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -7rem;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 2rem 0;
}

@media only screen and (min-width: 37em) {

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
    display: none;
}

.nav-top{
    margin-top: 3.3rem;
    margin-right: 2rem;
    float: right;
    display: inline-block;
}

.nav li{
    text-decoration: none;
    margin-left: 2rem;
    float: left;
    padding-bottom: 2rem;
}

.nav a,
.nav a:link, 
.nav a:visited {
    margin: 0;
    padding: 2%;
    text-align: center;
}

.nav-bottom{
    display: none;
}

.logo{
    padding: 0;
    margin-left: -.2rem;
    margin-top: 1.5rem;
    width: 100px;
}

header{
    background-color: #ccc;
    height: 9.5rem;
    text-align: left;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*SECTIONS MED/LRG */

.welcome{
    font-size: 2.5rem;
}

.welcome-desc{
    font-size: 1.5rem;
}

.about-title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -20rem;
}

.work-title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -20rem;
}

.contact-title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -15rem;
}

#intro{
    position: relative;
    background-color: #ddd;
    width: 100%;
    padding: 28rem 0;
}

#about{
    background-color: #eee;
    width: 100%;
    padding: 25rem 0;
}

#work{
    background-color: #ddd;
    width: 100%;
    padding: 25rem 0;
}

#contact{
    background-color: #eee;
    width: 100%;
    padding: 20rem 0;  
}
}